{% extends 'layouts/base.html.twig' %}

{% block title action.id %}

{% block body %}
  <article>
    <h1>{{action.id}}</h1>
    <p>{{action.adresseMaraude}}</p>
    <p>{{action.villeMaraude}}</p>
  </article>
  <a href="{{ path('app_edit', {id: pin.id}) }}">Editer</a>
  <a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr ?') && document.getElementById('js-maraude-delete-form').submit()">Supprimer</a>
  
  <form id="js-maraude-delete-form" action="{{ path('app_delete', {id: pin.id}) }}" method="post" style="display: none;">
    <input type="hidden" name="csrf_token" value=" {{ csrf_token('maraude_deletion_' ~ maraude.id)}} ">
    <input type="hidden" name="_method" method="DELETE">
  </form>
{% endblock %}
